*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Roboto', sans-serif; */

html{
    font-size: 62.5%;
  
    
}

main{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.nav-link{
    font-size:1.8rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* index.html */

.home,
.about,
.full-gallery{
    padding:1.5rem;
}
.home h1,
.about h1,
.full-gallery h1,
.contact h1{
    text-align: center;
    font-style: italic;
    padding-bottom: 2rem;
}
.gallery{
    display: flex;
    flex-direction: column;
    gap:1rem;
}



.gallery img{
    height: auto;
    width:100%;
}


/* about */

/* .about{
    padding:1.5rem;
} */


.about img{
    width: 100%;
    height: auto;
}

.about p{
font-size: 1.4rem;
padding-top:2.5rem;
}

#about-gallery img{
    margin-bottom:1rem;
}


/* footer */
.social-media{
    display: flex;
    justify-content: center;
    padding-top:3rem;
    padding-bottom:3rem;
}

.social-media a{
    width:2.5rem;
   margin-right:2rem;
}

.social-media img{
    width: 100%;
   
}

.copyright p{
    text-align: center;
}

.create{
    text-align: right;
}