---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="about">

    <h1>Meet Carol Parris</h1>

   <div class="about-description">
    <img src="/images/profile-pictures/carol1.jpg" alt="carol parris"/>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolore
      accusamus fuga, quidem modi ipsum quisquam corporis maiores vel rerum enim
      nemo ratione delectus totam aut blanditiis commodi. Pariatur, sit.
      Voluptatibus, incidunt maxime! Aliquid dolorem hic minima nemo, dolor
      laborum impedit ipsum autem, repudiandae qui odio maiores. Mollitia
      reiciendis maiores sunt commodi animi, id iste iure praesentium aperiam,
      odio eveniet.
    </p>
   </div>
 

    <div class="about-gallery">


      <a href="/images/profile-pictures/carol1.jpg">
        <img src="/images/profile-pictures/carol1.jpg" alt="Carol Parris" />
      </a>

      <a href="/images/profile-pictures/carol2.jpg">
        <img src="/images/profile-pictures/carol2.jpg" alt="Carol Parris" />
      </a>

      <a href="/images/profile-pictures/carol3.jpg">
        <img src="/images/profile-pictures/carol3.jpg" alt="Carol Parris" />
      </a>

      <a href="/images/profile-pictures/carol4.jpg">
        <img src="/images/profile-pictures/carol4.jpg" alt="Carol Parris" />
      </a>

      <a href="/images/profile-pictures/carol5.jpg">
        <img src="/images/profile-pictures/carol5.jpg" alt="Carol Parris" />
      </a>

      <a href="/images/profile-pictures/carol6.jpg">
        <img src="/images/profile-pictures/carol6.jpg" alt="Carol Parris" />
      </a>
    </div>
  </section>

  <script>
    document.querySelector('#about').classList.add('nav-active');
   
</script>
</MainLayout>
