---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="contact">
    <h1>Get in touch!</h1>

    <form action="">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />


      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" cols="50">
      </textarea>

      <button>SUBMIT</button>
    </form>
  </section>
</MainLayout>
