---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="contact">
    <h1>Get in touch!</h1>

    <form action="https://api.web3forms.com/submit" method="POST" class="scroll">

        <input type="hidden" name="access_key" value="1559e601-1e30-4ee0-be81-9d97afc7434a">

        
      <label for="name">Name *:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email *:</label>
      <input type="email" id="email" name="email" required />


      <label for="message">Message *:</label>
      <textarea id="message" name="message" rows="10" cols="50">

      </textarea>

      <input type="hidden" name="redirect" value="https://carolparris.netlify.app/submit/">

      <button>SUBMIT</button>
    </form>
  </section>
  <script>
    document.querySelector('#contact').classList.add('nav-active');
   
</script>
</MainLayout>
