---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

	<div class="gallery" id="lightgallery">
		<a href="/images/paintings/1.jpg">
			<img src="/images/paintings/1.jpg" alt="painting-1">
		</a>

		<a href="/images/paintings/2.jpg">
			<img src="/images/paintings/2.jpg" alt="painting-2">
		</a>

		<a href="/images/paintings/3.jpg">
			<img src="/images/paintings/3.jpg" alt="painting-3">
		</a>

		<a href="/images/paintings/4.jpg">
			<img src="/images/paintings/4.jpg" alt="painting-4">
		</a>

		<a href="/images/paintings/5.jpg">
			<img src="/images/paintings/5.jpg" alt="painting-5">
		</a>

		<a href="/images/paintings/6.jpg">
			<img src="/images/paintings/6.jpg" alt="painting-6">
		</a>

		<a href="/images/paintings/7.jpg">
			<img src="/images/paintings/7.jpg" alt="painting-7">
		</a>

		<a href="/images/paintings/8.jpg">
			<img src="/images/paintings/8.jpg" alt="painting-8">
		</a>

		<a href="/images/paintings/9.jpg">
			<img src="/images/paintings/9.jpg" alt="painting-9">
		</a>
		
		<a href="/images/paintings/10.jpg">
			<img src="/images/paintings/10.jpg" alt="painting-10">
		</a>
		
		<a href="/images/paintings/11.jpg">
			<img src="/images/paintings/11.jpg" alt="painting-11">
		</a>

		<a href="/images/paintings/12.jpg">
			<img src="/images/paintings/12.jpg" alt="painting-12">
		</a>

		<a href="/images/paintings/13.jpg">
			<img src="/images/paintings/13.jpg" alt="painting-13">
		</a>
		

	</div>


</MainLayout>