<footer>
    <div class="social-media">
      <a
        href="https://www.facebook.com/profile.php?id=100007474967047"
        target="_blank"
      >
        <img src="/images/social-icons/facebook.png" alt="facebook-icon" />
      </a>

      <a href="https://www.instagram.com/carolmparris/" target="_blank">
        <img src="/images/social-icons/instagram.png" alt="" />
      </a>
    </div>

    <div class="copyright">
      <p>Copyright © All rights reserved.</p>
    </div>

    <div class="author">
      <p>
        Made by <a href="https://cheyennepiper.com/" target="_blank"
          >Cheyenne Piper</a
        >
      </p>
    </div>
  </footer>